body {
    font-family: 'Garamond', serif;
    background-image: url('background.jpeg'); /* Add your background image here */
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weapon-container {
    text-align: center;
    margin-bottom: 20px;
}

.upgrade-container {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #654321; /* Dark brown color for buttons */
    color: #fff;
    margin-right: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
}

.button:hover {
    background-color: #543b23; /* Darker brown color on hover */
}

p {
    margin: 10px 0;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for headings */
}

